.ext/
.npm/

#link file
.rc-*/.bashutils
.rc-*/.bin
.rc-*/.git-prompt.sh
.rc-*/.IntelliJIdea
.rc-*/.IntelliJIdea4U
.rc-*/.m2
.rc-*/.ssh
.rc-*/.tmux.conf
.rc-*/.vimrc
.rc-*/.alias

.rc-*/.gradle
.rc-*/tmux-*.log
.rc-cygwin/AppData
*setup.log*
